.error,
.seriousError,
.hoverlink {
	border: 1px red;
	background-color: #FFDDDD; }

.seriousError,
.hoverlink {
	border-width: 3px; }

.comment a:hover,
.comment .hoverlink {
	text-decoration: underline; }
