#hsl {
	background: #010101;
	background: rgba(1, 1, 1, 0.5);
	background: 32.975deg;
	background: 100%;
	background: 47.451%;
	background: #F28500;
	background: #F58600;
	background: #EF8400;
	background: #F28500;
	background: #F18501;
	background: #797979;
	background: #006DF2;
	background: #0D7AFF; }
