#rgb {
	background-color: rgb(255, 243, 108);
	background-color: rgba(255, 243, 108, .5);
	background-color: rgba(#fffa2b, .5);
	background-color: red(#FFFA2B);
	background-color: green(#FFFA2B);
	background-color: blue(#FFFA2B);
	background-color: mix(#FFFA2B, rgb(255, 243, 108));
}
